.material-chat {
    padding-bottom: 75px;
}
.material-chat .chat {
    width: fit-content;
    margin: 0 15px 5px;
    text-align: left;
    max-width: 70%;
}
.material-chat .chat .message {
    white-space: pre;
}
.material-chat .chat.right {
    margin-left: auto;
}
.material-chat .chat.right > div {
    margin-left: auto;
}
.material-chat .compose-message {
    position: fixed;
    bottom: 20px;
    width: 100%;
    max-width: 1024px;
}
.material-chat .compose-message > div {
    margin: 0 10% 0 10%;
}
.material-chat .compose-message .text-field {
    width: 80%;
}
.send-blue svg {
    color: hsl(207, 90%, 54%);
}
@media (max-width: 480px) {
    .material-chat .compose-message > div {
        margin: 0 20px 0 20px;
    }
}